body{
    /*background-image: url(http://lorempixel.com.br/400/200/nature/);
    background-repeat:no-repeat;
    background-size: cover;*/
    background-color: #FFEBCD;
  
  
    }

#formulario-pergunta{
    margin-top: 5vh;
}